body{
    background-color: #2B7A78; 
}

#banner {
    border: 2px solid black; 
}

#logo{
    margin: 10px; 
    width: 70%; 
}

#buscarLibro {
    float: right; 
    margin-right: 1%; 
}
 
nav{
    text-align: center; 
    background-color: #17252A; 
    padding: 2px; 
}

#novedades{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align-last: center;
    border: 2px solid black;
    background-color: rgb(58, 58, 58);
}

#novedades img {
    margin-top:8px;
    max-width: 70%;
}

#display_libros{
    border:3px solid black;
    padding-bottom:1%
}

#box_libro {
    padding-bottom: 1%;
    background-color: #17252A;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
    border: 2px solid black;
    color: wheat;
    font-family: sans-serif;
    /*display: inline-block;*/
}

#foto_libro{
    margin-top: 15px;
    border: 2.5px solid black;
    height: 10rem;
}

#detalles_libro{
    text-align-last: center;
}

#lib_autor, #valor_internet_1{
    font-size: 16px;
    color: white;
}

#boton_detalles{
    border:none;
    padding: 6px;
    background-color: #DEF2F1;
    

}

#valor_internet_2{
    display: flex;
    justify-content: center;
}


footer{
    font-size: 1.2rem;
    line-height: 150%;
    margin-top: 30px;
    padding-bottom: 2%;
    background-color: rgb(76, 85, 104); 
}

footer a{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

#btn_menu{
    display: none;
}

header label{
    display: none;
    width: 30px;
    height:30px;
    padding: 10px;
    border-right: lpx solid #fff;
}

header label:hover{

    cursor: pointer;
    background-color: rgb(76, 85, 104);
}


.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.menu li a:hover{
    background-color:#21343b;
    color:gray

}

.menu li{
    border-right: lpx solid #fff;
}

.menu li a:active{
    background-color:#162227;
}
.menu li a{
    font: normal bold 20px Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border:1px black solid;
    margin: 3px 1px;
    padding: 10px 14px;
    background-color:#2B7A78;
    text-decoration: none;
    color: white;
    display: block;

}

@media (max-width:900px){
    header label {
        display: block;
    }

    .menu{
        position: absolute;
        background: #17252A;
        width: 70%;
        margin-left: -100%;
        transition: all 0.5s;
    }

    .menu ul{
        flex-direction: column;
    }

    #btn_menu:checked ~ .menu{
        margin-left: 0%;
    }

    #logo{
        width: 110%;
    }

    #box_libro {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
}