body{
    background-color: #2B7A78; 
}

#banner {
    border: 2px solid black; 
}

nav{
    text-align: center; 
    background-color: #17252A; 
    padding:2px; 
}

#logo{
    margin: 10px; 
    width: 20%; 
}

#buscarLibro {
    float: right; 
    margin-top: 40px; 
    margin-right: 20px; 
}

#nav_square {
    font: normal bold 20px Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block; 
    margin-right: 10px;
}

#nav_opciones{
    border:1px black solid;
    padding: 10px 30px;
    background-color:#2B7A78;
    text-decoration: none;
    color: white;
}

#nav_opciones:hover {
    background-color:#21343b;
    color:gray
}

#nav_opciones:active {
    background-color:#162227;
}

#novedades{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
    text-align-last: center;
    border: 2px solid black;
    background-color: rgb(58, 58, 58);
}

#img_nov {
    margin-top:8px;
    max-height: 95%;
    max-width: 100%;
}

#box_libro {
    background-color: #17252A;
    width: 200px;
    height: 400px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid black;
    color: wheat;
    font-family: sans-serif;
    display: inline-block;
}

#foto_libro{
    margin-top: 10px;
    margin-left: 38px; 
    border: 2.5px solid black;
    height: 170px;
    margin: auto;
}

#detalles_libro{
    text-align-last: center;
    line-height: 11px;
    justify-content: center;
}

#lib_autor, #valor_internet_1{
    font-size: 15px;
    color: white;
}

#lib_titulo {
    line-height: 20px;
}

#boton_detalles{
    border:none;
    padding: 6px;
    background-color: #DEF2F1;
    margin-left: 55px;
    display: flex;

}

#valor_internet_2{
    display: flex;
    justify-content: center;
}


footer{
    margin-top: 30px;
    height: 180px;
    background-color: rgb(76, 85, 104); 
}

footer a{
    text-emphasis-color: black;
    color: black;
    margin-left:30px;
    line-height: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

#menuFooter{
    margin-top: 15px;
    margin-left: 30px;
}



#btn_menu{
    display: none;
}

header label{
    display: none;
    width: 30px;
    height:30px;
    padding: 10px;
    border-right: lpx solid #fff;
}

header label:hover{

    cursor: pointer;
    background-color: rgb(76, 85, 104);
}


.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.menu li:hover{
    background-color:#21343b;
    color:gray

}

.menu li{
    border-right: lpx solid #fff;
}

.menu li:active{
    background-color:#162227;
}
.menu li a{

    border:1px black solid;
    padding: 10px 30px;
    background-color:#2B7A78;
    text-decoration: none;
    color: white;
    display: block;

}

@media (max-width:883px){
    header label {
        display: block;
    }

    .menu{
        position: absolute;
        background:#2B7A78;
        width: 70%;
        margin-left: -100%;
        transition: all 0.5s;

    }

    .menu ul{
        flex-direction: column;
    }

    .menu li{
        border-top: lpx solid #fff;
    }

    #btn_menu:checked ~ .menu{
        margin-left: 0%;
    }
}