body{
    background-color: #9acedb; 
}

#banner {
    background-color: #3a5992;
}

#logo{
    margin: 10px; 
    width: 40%; 
}

#buscarLibro {
    margin-left:10vw;
    text-align: center;
}
 
nav{
    text-align: center; 
    background-color: #34318a; 
    padding: 2px; 
}

#novedades{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align-last: center;
    border: 2px solid black;
    background-color: rgb(58, 58, 58);
}

#novedades img {
    margin-top:1vh;
    max-width: 70%;
}

#display_libros{
    padding-bottom:1%
}

#box_libro {
    max-width: 20vw;
    padding-bottom: 1%;
    background-color: #34318a;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 1rem;
    border: 2px solid black;
    color: wheat;
    font-family: sans-serif;
}

#foto_libro{
    border-radius: 5px;
    margin-top: 15px;
    border: 2.5px solid black;
    width: 7vw;
    object-fit: scale-down;
}

#detalles_libro{
    text-align-last: center;
}

#lib_autor, #valor_internet_1{
    font-size: 1.1vw;
    color: white;
} 

#valor_internet_2, #lib_titulo{
    font-size: 1.3vw;
    display: flex;
    justify-content: center;
}

.boton_detalles{
    border:none;
    padding: 0.5vw;
    font-size: 0.9vw; 
    background-color: #ef7426;
    color: white;
}


footer{
    font-size: 1.3vw;
    line-height: 150%;
    margin-top: 30px;
    padding-bottom: 2%;
    background-color: #06070a; 
}

footer a, p{
    color: white;
    font-family: sans-serif; 
}

#btn_menu{
    display: none;
}

header label{
    display: none;
    width: 30px;
    height:30px;
    margin: 10px;
}

header label:hover{
    cursor: pointer;
    background-color: rgb(76, 85, 104);
}


.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.menu li a:hover{
    background-color:#ee7522;

}

.menu li a:active{
    background-color:#162227;
}
.menu li a{
    font: normal bold 1.25vw sans-serif;
    margin: 0.4vh 0.1vw;
    padding: 1.1vh 1vw;
    border:1px black solid;
    background-color:#3a5990;
    text-decoration: none;
    color: white;
    display: block;
}

#bestSeller{ 
    text-align: right;
    color:white;
    font-weight: normal;
    background-color: #34318a;
    padding-right: 1vw;
    padding-top:2vh;
    padding-bottom:2vh;
    width: 20vw;
    font-family: sans-serif;
    font-size:1.25vw;
}





@media (max-width:650px){
    header label {
        display: block;
    }

    .menu{
        position: absolute;
        background: #17252A;
        margin-left: -100%;
        transition: all 0.5s;
    }

    .menu ul{
        flex-direction: column;
    }

    #btn_menu:checked ~ .menu{
        margin-left: 0%;
    }

    #logo{
        width: 110%;
    }

    #bestSeller{ 
        background-color: #34318a;
        text-align: center;
        padding-right: 1vw;
        padding-top:2vh;
        padding-bottom:2vh;
        width: 40vw;
        font-family: sans-serif;
        font-size:3.5vw;
    }

    #box_libro {
        min-width: 40vw;
        margin-right: 2vw;
        margin-left: 2vw;
    }

    #foto_libro{
        width: 25vw;
    }

    .menu li a {
        width: 60vw;
        font-size: 5vw;
    }

    #lib_autor, #valor_internet_1{
        font-size: 4vw;
        color: white;
    } 
    
    #valor_internet_2, #lib_titulo{
        font-size: 4vw;
        display: flex;
        justify-content: center;
    }

    .boton_detalles{
        font-size: 4vw;
    }

    footer{
        font-size: 5vw;
        line-height: 150%;
        margin-top: 7vw;
        padding-bottom: 7vw;
        background-color: #06070a; 
    }
}